@import './reset.scss', './function.scss', './rwd.scss', './grid.scss', './space.scss', './animate.scss';

// clear 

.bz {
  box-sizing: border-box;
}

// visibility88

.vs-hidden {
  visibility: hidden;
}

.vs-show {
  visibility: visible;
}

.hide {
  display: none !important;
}

.ov-hide {
  overflow: hidden;
}

// margin 

.m-auto {
  margin: 0 auto;
}

///border

.has_border_bottom {
  border-bottom: 2px solid black;
}

// table

table {
  width: 100%;
  max-width: 100%;
  text-align: center;
  vertical-align: middle;
}

td {
  padding: 15px 0;
}

th {
  font-size: 16px;
  line-height: 3;
}

.v-middle {
  vertical-align: middle;
}

.v-top {
  vertical-align: top;
}

// font

a {
  text-decoration: none;
  color: black;
}

.fw700 {
  font-weight: 700;
}

.fw400 {
  font-weight: 400;
}

small {
  font-size: 80%;
  font-weight: 400;
}

body {
  font-family: ryo-display-plusn, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "游明朝体", YuMincho, "Yu Mincho", "ＭＳ Ｐ明朝", "MS PMincho", serif !important;
}

// text

.text-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 80px;
  white-space: nowrap;
  display: inline-block;
}

.text-break {
  overflow-wrap: break-word;
}

.text-line-through {
  text-decoration: line-through;
}

.text-price {
  letter-spacing: 0.08em;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.text-lv1 {
  font-size: 2.4rem;
  letter-spacing: 0.2em;
  line-height: 1.2;

  @media screen and(max-width:768px) {
    font-size: 1.4rem;
  }
}

.text-lv2 {
  font-size: 2.2rem;
  letter-spacing: 0.2em;
  line-height: 1.2;
}

.text-lv3 {
  font-size: 2rem;
  letter-spacing: 0.2em;
  line-height: 1.1;
}

.text-lv4 {
  font-size: 1.6rem;
  letter-spacing: 0.16em;
  line-height: 1.1;
}

.text-lv5 {
  font-size: 1.4rem;
  letter-spacing: 0.1em;
  line-height: 1.1;
}

.text-lv6 {
  font-size: 1.2rem;
  letter-spacing: 0.08em;
  line-height: 1;
}

.text-lv7 {
  font-size: 1rem;
  letter-spacing: 0.06em;
  line-height: 1;
}

.text-lv8 {
  font-size: 0.8rem;
  letter-spacing: 0.06em;
  line-height: 1;
}

.text-theme {
  line-height: 2;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.fm-m {
  font-family: 'Noto Serif JP', serif;
  font-size: 20px;
}

.fm-r {
  font-family: 'Roboto', 'Noto Serif JP', -apple-system, BlinkMacSystemFont, 'メイリオ', sans-serif;
  letter-spacing: .04em;
  font-size: 11px;
  font-weight: 700;
}

// image

img {
  max-width: 100%;
}

// content

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  // padding: 0 20px;
}

// position 

.abs-y-center {
  transform: translateY(-50%);
  top: 50%;
}

.abs-x-center {
  transform: translateX(-50%);
  left: 50%;
}

.abs-both {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.ps-rl {
  position: relative;
}

.ps-ab {
  position: absolute;
}

// inline-block

.d-ib {
  display: inline-block;
}

// flex

.d-flex {
  display: flex;
}

.align-item-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

// transation

.transition-scale {
  transition: all 0.4s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }

}