.container {
    width: 100%;
    // padding-right: 20px;
    // padding-left: 20px;
    margin-right: auto;
    margin-left: auto
}

@media (min-width: 576px) {
    .container {
        max-width: 540px
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px
    }
}

.content-inner-x {
    padding-left: 60px;
    padding-right: 60px
}

@media (max-width: 991px) {
    .content-inner-x {
        padding-left: 40px;
        padding-right: 40px
    }
}

@media (max-width: 767px) {
    .content-inner-x {
        padding-left: 10px;
        padding-right: 10px
    }
}

.content-inner-y {
    padding-top: 60px;
    padding-bottom: 60px
}

@media (max-width: 991px) {
    .content-inner-y {
        padding-top: 40px;
        padding-bottom: 40px
    }
}

@media (max-width: 767px) {
    .content-inner-y {
        padding-top: 30px;
        padding-bottom: 30px
    }
}

.content-inner-more {
    padding-top: 100px;
    padding-bottom: 100px
}

@media (max-width: 991px) {
    .content-inner-more {
        padding-top: 50px;
        padding-bottom: 50px
    }
}

@media (max-width: 767px) {
    .content-inner-more {
        padding-top: 30px;
        padding-bottom: 30px
    }
}